<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Certificación</title>
		<link rel="stylesheet" href="/style/css/style.css" />
	</head>
	<body>
		<h1>Certificado</h1>
		<p>Emitido por Coursera - 12 Abril del 2025</p>
        <p>Google IT Support Professional Certificate</p>
        <a href="https://coursera.org/verify/profession
al-cert/KOPCMOTN8972" target="_blank" >Verificar certificado</a>
		<img src="/img/Google_It_Support.jpg" alt="Certificado Coding Dojo" />
	</body>
</html>
